{% extends "main/base.html" %}
{% load static %}

{% block title %}SoftWear - О нас{% endblock %}

{% block body_class %}about{% endblock %}

{% block main_block %}
    <div class="billboard">
        <div class="billboard-wrapper">
            <h1>О нас</h1>
            <p class="h1-annotation">Послушайте нашу историю</p>
        </div>
    </div>
    <main>
        <p class="h2">Мы рады приветствовать Вас на сайте магазина SoftWear</p>
        <p>
            В начале июня 2020 года открылся наш первый магазин. В течение последующих лет компания активно развивалась и продолжает совершенствоваться далее. На сегодняшний день мы представляем собой интернет-магазин, предоставляющий Вам широкий спектр брендовых вещей.
        </p>
        <p>
            С самого основания портала удовлетворенность покупателей была и есть для нас на первом месте. В течение всей своей истории компания ориентируется на потребности клиентов. Соотношение цены и качества, постоянное обновление ассортимента — именно эти ценности компания бережно сохраняет и стремится донести до потребителя.
        </p>
        <p>
            Интернет-магазин SoftWear предлагает широкий ассортимент товаров:
            <ul>
                <li>Женская одежда</li>
                <li>Женская обувь</li>
                <li>Мужская одежда</li>
                <li>Мужская обувь</li>
                <li>Аксессуары</li>
            </ul>
            <a class="button" href="{% url 'shop' %}">К покупкам</a>
        </p>
        <p>
            Мы всегда рады общению с нашими клиентами. Если у вас есть какие-либо пожелания, предложения, замечания, касающиеся работы нашего Интернет-магазина — пишите нам, и мы с благодарностью примем ваше мнение во внимание.
        </p>
        <a class="button" href="{% url 'support' %}">Написать нам</a>
    </main>
{% endblock %}